.wp-block-avatar__image img {
	width: 100%;
}

.wp-block-avatar.aligncenter,
.wp-block[data-align="center"] .wp-block-avatar__link > .wp-block-avatar,
.wp-block[data-align="center"] > .wp-block-avatar {
	text-align: center;

	.components-resizable-box__container {
		margin: 0 auto;
	}
}
